body {
  margin: 0px;
  background-color: #ffedcc; }

#info {
  background-color: #ffedcc;
  padding-top: 20px;
  padding-bottom: 40px; }

.box1 {
  height: 450px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: orange;
  transform-style: preserve-3d;
  box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2); }

.loginboxsample {
  background-color: white;
  padding: 10px;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transform: translateY(-50%) translateX(-50%) translateZ(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.btn-social {
  color: white !important;
  text-align: center !important;
  margin: 5px; }

.loginbuttonsample {
  margin-left: auto;
  margin-right: auto;
  transform-style: preserve-3d;
  transform: translateZ(10px); }

.logosample {
  color: white;
  font-size: 34px;
  font-weight: bold;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  position: absolute;
  top: 10%;
  left: 15%;
  transform-style: preserve-3d;
  transform: translateY(-50%) translateX(-50%) translateZ(20px); }

.pitch {
  color: black;
  font-size: 39px;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  position: absolute;
  width: inherit;
  top: 90%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translateY(-50%) translateX(-50%) translateZ(100px); }
