doctype html
html(lang='en')
    head
        title= user.name
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        link(href='../style/common.css' rel='stylesheet' type='text/css')
    body
        #profileApp
        script(src='../js/profile.bundle.js', type='text/javascript')