doctype html
html(lang='en')
    head
        title= user.name
        link(href='../style/common.css' rel='stylesheet' type='text/css')
    body
        #profileApp
        a(href='/logout') Logout
        script(src='../js/profile.bundle.js', type='text/javascript')